.container {
    background-color: aquamarine;
    color: #e7a9a9
}

p {
    color: blue;
    font-size: 35;
}

h1 {
text-shadow : 2px 2px 4px rgba(58, 207, 21, 0.5);

}
h2{
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}